.row{
  padding-left: 4em;
  padding-right: 4em;
}

.auth.banner{
  margin: auto;
  text-align: center;
  padding-top: 2em;
}

.index_banner{
  padding-top: 2em;
  margin-left: 2em;
}

#logo{
  font-family: Galindo;
}

h4{
  font-style: italic;
}

.register-box{
  margin: 0 auto;
  /*margin-left: 20em;
  margin-right: 20em;*/
  width: 50%;
  margin-top: 3em;
  border: 2px solid;
  text-align: center;
}
h3{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.form-control:not(#age){
  min-width: 9em;
}
#age{
  min-width: 4em;
}
.form-check{
  margin: auto;
  text-align: center;
}
.hidden{
  display: none;
}

.btn-primary{
  margin: auto;
  text-align: center;
}
#registerBtn{
  margin: 0 auto;
  display: block;
  margin-top: 1em;
}

/* https://blog.hubspot.com/website/css-sidebar */
.side {
position: -webkit-sticky; /* for Safari users */
position: sticky;
top: 0px;
float: right;
}

.side div {
padding: 8px;
font-size: 24px;
display: block;
float: right;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 20px;
  padding: 1em;
}
.toggle.ios .toggle-handle {
  border-radius: 20px;
  padding: 1em;
}
