.row{
  padding: 5em;
}
.banner{
  margin: auto;
}
/*

/* Sign Up Deploy */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Fields */

position: absolute;
width: 845px;
height: 564px;
left: 297px;
top: 289px;



/* Rectangle */

position: absolute;
width: 845px;
height: 564px;
left: 297px;
top: 289px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* Rectangle 2 */

position: absolute;
width: 237px;
height: 40px;
left: 473px;
top: 379px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 59px;
height: 40px;
left: 473px;
top: 647px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* First name */

position: absolute;
width: 223px;
height: 24px;
left: 487px;
top: 387px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* I agree to the Terms & Conditions. */

position: absolute;
width: 254px;
height: 24px;
left: 613px;
top: 722px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Age */

position: absolute;
width: 45px;
height: 24px;
left: 480px;
top: 655px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
text-align: center;
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Rectangle 2.1 */

position: absolute;
width: 237px;
height: 40px;
left: 730px;
top: 379px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* Last name */

position: absolute;
width: 223px;
height: 24px;
left: 744px;
top: 387px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Rectangle 2.2 */

position: absolute;
width: 494px;
height: 40px;
left: 473px;
top: 443px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* * Email address */

position: absolute;
width: 223px;
height: 24px;
left: 487px;
top: 451px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* * required */

position: absolute;
width: 87px;
height: 24px;
left: 483px;
top: 355px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Rectangle 2.3 */

position: absolute;
width: 494px;
height: 40px;
left: 473px;
top: 507px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* Rectangle 2.3 */

position: absolute;
width: 494px;
height: 40px;
left: 473px;
top: 571px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* Rectangle 2.3 */

position: absolute;
width: 205px;
height: 40px;
left: 762px;
top: 647px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;


/* University */

position: absolute;
width: 223px;
height: 24px;
left: 779px;
top: 655px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* * Create password */

position: absolute;
width: 223px;
height: 24px;
left: 487px;
top: 515px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* * Repeat password */

position: absolute;
width: 223px;
height: 24px;
left: 487px;
top: 579px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* 03 Dropdown / Dropdown

Select, menu
*/

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 178px;
height: 169px;
left: 558px;
top: 627px;



/* Label */

position: static;
width: 178px;
height: 16px;
left: 0px;
top: 0px;

/* Components / Small Label */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: flex-end;

/* Text / Subtle */
color: #767676;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;


/* Dropdown */

position: static;
width: 178px;
height: 40px;
left: 0px;
top: 20px;

/* Surface */
background: #FFFFFF;
/* Text / Subtle */
border: 2px solid #767676;
box-sizing: border-box;
border-radius: 4px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;


/* chevron-down */

position: absolute;
width: 18px;
height: 18px;
right: 12px;
top: calc(50% - 18px/2);



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

/* Border / Normal */
border: 2px solid #111111;


/* Icon & Text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 56px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* user */

position: static;
display: none;
width: 18px;
height: 18px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;


/* Text */

position: static;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* Leading Icon */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

/* Text / Normal */
color: #111111;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;


/* 03 Dropdown / Options */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;

position: static;
display: none;
width: 200px;
height: 160px;
left: 0px;
top: 64px;

/* Surface */
background: #FFFFFF;
/* Border / Subtle */
border: 2px solid #AAAAAA;
box-sizing: border-box;
border-radius: 4px;

/* Inside Auto Layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;


/* Check */

position: absolute;
width: 20px;
height: 20px;
left: 573px;
top: 722px;

/* Surface */
background: #FFFFFF;
/* Border / Subtle */
border: 2px solid #AAAAAA;
box-sizing: border-box;
border-radius: 2px;


/* Path */

position: absolute;
visibility: hidden;
width: 12px;
height: 9.42px;
left: calc(50% - 12px/2 - 0.01px);
top: calc(50% - 9.42px/2 + 0.29px);

/* Surface */
background: #FFFFFF;


/* Sign Up */

position: absolute;
width: 494px;
height: 36px;
left: 473px;
top: 316px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Button */

position: absolute;
width: 93px;
height: 40px;
left: 673px;
top: 778px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Actionable Item */
background: #18A0FB;
border-radius: 6px;


/* Sign Up */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;



/* Sign Up Banner */

position: absolute;
width: 494px;
height: 138px;
left: 473px;
top: 93px;



/* People make Glasgow */

position: absolute;
width: 494px;
height: 36px;
left: 473px;
top: 195px;

font-family: Montserrat;
font-style: italic;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* GlasGO */

position: absolute;
width: 317px;
height: 73px;
left: 561px;
top: 93px;

/* Logo */
font-family: Galindo;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 18px;
/* or 28% */
display: flex;
align-items: center;
text-align: center;

color: #000000;
*/
