{% extends 'glasgo/base.html' %}
{% load staticfiles %}

{% block title %}
  About GlasGO
{% endblock %}

{% block side %}
{% endblock %}

{% block body %}
    <div class="text-center">
        <li>
            <ul>
                This platform was created in March 2021 as a student project as a part of Web Application Development 2 course at University of Glasgow
            </ul>
            <ul>
                GlasGO is a social media web app that allows users to share their social lives in the Greater Glasgow area, and engage with the community at large
            </ul>
            <ul>
                After creating their user profile, users can share image, text, and link posts onto the GlasGO home page. They can also comment on the posts of other users or their own, as well as show their interest by clicking on thumbs up button
            </ul>
            <ul>
                Users can view the posts on the home page from the top down, filtered by either Top (the most liked posts) or Recent (the most recent posts)
            </ul>
            <ul>
                They are also able to mark their post as being of a certain category, such as events or cool spots, so that they or other users can filter the home page by posts from categories they particularly interested in
            </ul>
            <ul>
                Anyone can enter and view the GlasGO home page, but they will only be able to post or interact with posts after they log in or, sign up and log in, to their new account
            </ul>
            <ul>
                Users are able to customise their user-profile with information about themselves such as their occupation, age or personal name (separate from their profile name)
            </ul>
        </li>
    </div>

    <div class="text-center">
        <h4>Terms and Conditions of using GlasGO</h4>
        <li>
            <ul>
                Users agree to share personal information with GlasGO, which will be publicly available, such as their name, age, occupation, and company/university, if shared
            </ul>
            <ul>
                GlasGO will not share this information with third parties or will it be used for any internal research or study.
            </ul>
        </li>
    </div>

    <div class="text-center">
      <a href="{% url 'glasgo:contact' %}">Contact Us</a>
    </div>
{% endblock %}
