{% extends 'glasgo/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
  Add a Post
{% endblock %}

{% block sort_posts %}
{% endblock %}

{% block side %}
{% endblock %}

{% block auth_logo %}
{% endblock %}

{% block body %}
  <div class="form-box">
    <h3>Add a Post!</h3>

    <form action="{% url 'glasgo:add_post' %}" method="post"
      class="container-fluid" enctype="multipart/form-data">

      {% csrf_token %}

      <fieldset class="form-group">
        <div class="form-group row justify-content-center">
          {{ post_form.post_title|as_crispy_field }}
        </div>
        <div class="form-group row justify-content-center">
          {{ post_form.post_type|as_crispy_field }}
        </div>
        <div class="form-group row justify-content-center">
          {{ post_form.post_text|as_crispy_field }}
          {{ post_form.post_pic|as_crispy_field }}
          {{ post_form.post_link|as_crispy_field }}
        </div>
        <label class="form-group row justify-content-center" for="id_post_category">Category:</label>
        <div class="form-group row justify-content-center">
          {{ post_form.post_category|as_crispy_field }}
        </div>

        <div class="form-group row justify-content-center">
          <button id="postBtn" class="btn btn-primary" type="submit" name="submit">Add Post</button>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
