{% extends 'glasgo/base.html' %}
{% load staticfiles %}

{% block title %}
  Contact Us
{% endblock %}

{% block side %}
{% endblock %}

{% block body %}
    <div class="text-center justify-content-center">
        <li>
            <ul>
                Karlis Siders
            </ul>

            <ul>
                Lewis McGlinchey
            </ul>

            <ul>
                Simona Holubkova
            </ul>

            <ul>
                Yanling Liu
            </ul>
        </li>
    </div>
{% endblock %}
