{% extends 'glasgo/base.html' %}
{% load staticfiles %}

{% block title %}
  Contact Us
{% endblock %}

{% block side %}
{% endblock %}

{% block body %}
    <div class="text-center">
        <h4>Please, do not hesitate to contact delevopers with your suggestions and feedback!</h4>
    </div>
    <div class="text-center justify-content-center">
        <li>
            <ul>
                Karlis Siders 2467273S@student.gla.ac.uk
            </ul>

            <ul>
                Lewis McGlinchey 2259138M@student.gla.ac.uk
            </ul>

            <ul>
                Simona Holubkova 2483856H@student.gla.ac.uk
            </ul>

            <ul>
                Yanling Liu 2451921L@student.gla.ac.uk
            </ul>
        </li>
    </div>
{% endblock %}
