{% extends 'glasgo/base.html' %}
{% load staticfiles %}

{% block title %}
  Log In
{% endblock %}

{% block body %}
<div class="register-box">
  <h3>Log In</h3>

  <form action="" method="post" class="container-fluid">
    {% csrf_token %}
    <fieldset class="form-group">

      <div class="form-group row">
        <input class="form-control" type="text" id="username_login" placeholder="Username">
      </div>
      <div class="form-group row">
        <input class="form-control" type="text" id="password_login" placeholder="Password">
      </div>

      <p><a href="{% url 'glasgo:register' %}">Not a member of GlasGO yet? Register here!</a></p>

      <div class="form-group row">
        <button id="loginBtn" class="btn btn-primary" type="submit" name="submit">Log In</button>
      </div>
    </div>

    </fieldset>
  </form>
{% endblock %}
