{% extends 'glasgo/base.html' %}
{% load staticfiles %}

{% block title %}
  Log In
{% endblock %}

{% block side %}
{% endblock %}

{% block body %}
  {% block index_banner %}
  {% endblock %}

  <div class="form-box">
    <h3>Log In</h3>

    <form id="login_form" action="{% url 'glasgo:login' %}" method="post" class="container-fluid">
      {% csrf_token %}
      <fieldset class="form-group">
        <div class="form-group row">
          <input class="form-control" type="text" name="username" id="username_login" placeholder="Username">
        </div>
        <div class="form-group row">
          <input class="form-control" type="password" name="password" id="password_login" placeholder="Password">
        </div>

        <p class="text-center">Not a member of GlasGO yet? <a href="{% url 'glasgo:register' %}">Register here!</a></p>

        <div class="form-group row">
          <button id="loginBtn" class="btn btn-primary" type="submit" name="submit">Log In</button>
        </div>

      </fieldset>
    </form>
  </div>

{% endblock %}
