{% extends 'glasgo/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
  Registration
{% endblock %}

{% block side %}
{% endblock %}

<!-- https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html -->

{% block body %}
  {% block index_banner %}
  {% endblock %}
    <div class="register-box">
      <h3>Register</h3>

      {% if registered %}
      <div class="container-fluid">
        Thank you for registering!
        <a href="{% url 'glasgo:index' %}">Return to homepage</a>
      </div>
      {% else %}
      <form action="{% url 'glasgo:register' %}" method="post"
            class="container-fluid" enctype="multipart/form-data">

        {% csrf_token %}

        <fieldset class="form-group">
          <div class="form-group row">
            <div class="form-group col-md-6">
              {{ user_form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
              {{ user_form.last_name|as_crispy_field }}
            </div>
          </div>

          <div class="form-group row">
            {{ user_form.email|as_crispy_field }}
          </div>
          <div class="form-group row">
            {{ user_form.username|as_crispy_field }}
          </div>
          <div class="form-group row">
            {{ user_form.password|as_crispy_field }}
          </div>
          <div class="form-group row">
            {{ user_form.confirm_password|as_crispy_field }}
          </div>
          <div class="form-group row">
            <div class="form-group col-md-1">
              {{ profile_form.age|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 offset-sm-2">
              {{ profile_form.occupation|as_crispy_field }}
            </div>
            <div class="form-group col-md-5">
              {{ profile_form.company|as_crispy_field }}
              {{ profile_form.university|as_crispy_field }}
            </div>
          </div>

          <div class="form-group">
            <button id="registerBtn" class="btn btn-primary" type="submit" name="submit">Register</button>
          </div>

        </fieldset>
      </form>
      {% endif %}
    </div>
{% endblock %}
