{% extends 'glasgo/base.html' %}
{% load staticfiles %}

{% block title %}
  Registration
{% endblock %}

{% block side %}
{% endblock %}

{% block body %}
  {% block index_banner %}
  {% endblock %}
    <div class="register-box">
      <h3>Register</h3>

      <form action="" method="post" class="container-fluid">
        {% csrf_token %}
        <fieldset class="form-group">
          <div class="form-group row">
            <div class="form-group col-md-6">
              <input class="form-control" type="text" id="firstname" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
              <input class="form-control" type="text" id="lastname" placeholder="Last name">
            </div>
          </div>

          <div class="form-group row">
            <input class="form-control" type="text" id="email" placeholder="Email address">
          </div>
          <div class="form-group row">
            <input class="form-control" type="text" id="username" placeholder="Username">
          </div>
          <div class="form-group row">
            <input class="form-control" type="text" id="password" placeholder="Create password">
          </div>
          <div class="form-group row">
            <input class="form-control" type="text" id="password_check" placeholder="Repeat password">
          </div>
          <div class="form-group row">
            <div class="form-group col-md-2">
              <input class="form-control" type="text" id="age" placeholder="Age">
            </div>
            <div class="dropdown col-md-4">
              <button class="btn btn-default dropdown-toggle" type="button" id="occupationBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="button">
                Employment
              </button>
              <div class="dropdown-menu" aria-labelledby="occupationBtn">
                <a class="dropdown-item" value="0" href="#">Employed</a>
                <a class="dropdown-item" value="1" href="#">Unemployed</a>
                <a class="dropdown-item" value="2" href="#">Student</a>
              </div>
            </div>
            <div class="form-group col-md-6 hidden">
              <input class="form-control" type="text" id="occupation_details" placeholder="Place of Employment">
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox">I agree to the <strong>Terms & Conditions</strong>
            </label>
          </div>

          <div class="form-group">
            <button id="registerBtn" class="btn btn-primary" type="submit" name="submit">Register</button>
          </div>

        </fieldset>
      </form>
    </div>
{% endblock %}
