{% extends 'glasgo/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
  Registration
{% endblock %}

{% block side %}
{% endblock %}

<!-- https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html -->

{% block body %}
  {% block index_banner %}
  {% endblock %}
    <div class="register-box">
      <h3>Register</h3>

      <form action="" method="post" class="container-fluid">
        {% csrf_token %}
        <fieldset class="form-group">
          <div class="form-group row">
            <div class="form-group col-md-6">
              {{ user_form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
              {{ user_form.last_name|as_crispy_field }}
            </div>
          </div>

          <div class="form-group row">
            {{ user_form.email|as_crispy_field }}
          </div>
          <div class="form-group row">
            {{ user_form.username|as_crispy_field }}
          </div>
          <div class="form-group row">
            {{ user_form.password|as_crispy_field }}
          </div>
          <div class="form-group row">
            {{ user_form.confirm_password|as_crispy_field }}
          </div>
          <div class="form-group row">
            <div class="form-group col-md-2">
              {{ profile_form.age|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
              {{ profile_form.occupation|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 hidden">
              <input class="form-control" type="text" id="occupation_details" placeholder="Place of Employment">
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox">I agree to the <strong>Terms & Conditions</strong>
            </label>
          </div>

          <div class="form-group">
            <button id="registerBtn" class="btn btn-primary" type="submit" name="submit">Register</button>
          </div>

        </fieldset>
      </form>
    </div>
{% endblock %}
